.App {
  text-align: center;


}
#h1,#h2{
color: rgba(101, 109, 145, 0.986);

}

.app_form{
margin: 20px;
margin-left: 250px;
  padding: 20px;
  position: fixed;
  bottom: 0;
z-index: 1;
background-color: rgb(179, 179, 197) ;
border: 2px solid rgb(169, 169, 252);
border-radius: 10px 50px;
width: 75%;
height: 35px;


}

.app_formControll{
  display:flex  !important;
  flex-direction: row !important;
  
  
}
.app_input{
  display: flex;
flex: 1;
padding-left: 250px;
margin-bottom: 8px;


}
.app_iconButton{
  display: flex;
  flex: 0;
}
@media screen and (max-width: 1150px) {
  .app_form {
    width: 60%;
    margin-left: 100px;
    
  }
  .app_input{
    padding-left:100px;
  }
}